Source: node-follow-redirects
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , mocha <!nocheck>
 , node-concat-stream <!nocheck>
 , node-express <!nocheck>
 , node-sinon <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-follow-redirects
Vcs-Git: https://salsa.debian.org/js-team/node-follow-redirects.git
Homepage: https://github.com/olalonde/follow-redirects
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-follow-redirects
Architecture: all
Depends: ${misc:Depends}
 , node-debug
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: HTTP and HTTPS modules that follow redirects
 Drop-in replacement for Nodes `http` and `https` that automatically follows
 redirects.
 .
 Node.js is an event-based server-side JavaScript engine.
